.clearfix::before {
  content: "";
  display: table;
  }

@media print {
  *::before {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }
}